scipy==1.7.1
numpy==1.21.2
matplotlib==3.4.3
opencv_python==4.5.3.56
# torch==1.7.1
torch==1.7.1+cu110
# torchvision==0.8.2
torchvision==0.8.2+cu110
torchaudio==0.7.2
tqdm==4.62.2
Pillow==8.3.2
h5py==2.10.0

